{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans ce blog!</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet id ipsam laborum nesciunt nobis quaerat, repudiandae
        voluptas voluptatum! Autem, blanditiis delectus dolores fugit id illo ipsam iste iure magni, non nulla officia
        perspiciatis quam quidem quis repudiandae sapiente sed similique?</p>
    <p>Accusantium ad deleniti dolor eaque ex ipsa
        maxime minima mollitia nam nobis quam, quibusdam quis quisquam reiciendis sed suscipit totam! Id nostrum quisquam
        reiciendis voluptatibus! Accusantium aut consequatur cumque ea, fugiat impedit nobis praesentium quibusdam quidem
        recusandae rerum sequi velit?
    </p>
{% endblock %}